services:
  db:
    image: postgres:15
    container_name: db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER:user
      - POSTGRES_PASSWORD:password
      - POSTGRES_DB:hotel_booking
  